[bumpversion]
current_version = 0.9.4
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:VERSION]

[bumpversion:glob:solpoc/functions_SolPOC.py]

[bumpversion:glob:solpoc/scripts/optimization_multiprocess.py]

[bumpversion:glob:solpoc/scripts/fit_experimental_signal.py]

[bumpversion:glob:solpoc/scripts/Curve_RTA.py]