include *.md
include solpoc/Materials/*.txt
recursive-include solpoc *.md *.txt
recursive-exclude docs * 
recursive-exclude venv * 
recursive-exclude tests * 
recursive-exclude Examples * 
global-exclude */__pycache__/*
global-exclude *.pyc